<!--詳細画面の表示内容(投稿したそれぞれの内容）-->

<!--Railsの.erbという形式のファイルでは、<% %> <%= %>と囲むことで、HTMLファイルにRubyのコードを埋め込める-->
<h2>タイトル</h2>
<!--指定した[id]の投稿のtitle部分が表示される（htmlとして表示させたいから %= を使う-->
<p><%= @list.title %></p>


<h2>本文</h2>
<!--指定した[id]のbody部分が表示される-->
<p><%= @list.body %></p>

<h2>画像</h2>
<% if @list.image.attached? %>
  <%= image_tag @list.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<!--詳細画面に編集画面へのリンクを追加-->
<%= link_to "編集", edit_list_path(@list.id) %>